@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

.head{
  border-bottom: 1px solid rgb(2, 2, 46);
  color:  rgb(2, 2, 46);
  margin: 10px auto;
  margin: 0;
  font-size: 48px;
  text-align: center;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: 'Tangerine', serif;


}

body {
  background-color: #acacac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(rgb(148, 147, 147), rgb(190, 190, 190))
}

.container {
  margin: 20px auto;
  width: 350px;
  color: rgb(2, 2, 46);
  text-align: center;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: rgb(2, 2, 46);
  text-align: center;
}


h3 {
  border-bottom: 1px solid rgb(2, 2, 46);
  padding-bottom: 10px;
  margin: 20px 0 10px;
  color: rgb(2, 2, 46);
}

h4 {
  margin: 0;
  text-transform: uppercase;
  color: rgb(2, 2, 46);
  padding-bottom: 02px;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 20px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #999797;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #faecec;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
}

.btn {
  cursor: pointer;
  background-color: rgb(2, 2, 46);
  box-shadow: var(--box-shadow);
  color: rgb(248, 248, 244);
  border: 0;
  display: block;
  font-size: 18px;
  margin: 15px 0 25px;
  padding: 10px;
  width: 100%;
  letter-spacing: 1px;
  border-radius: 20px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #08da5f;
}

.list li.minus {
  border-right: 5px solid #d1210e;
}

.delete-btn {
  cursor: pointer;
  background-color: #f02c16;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.down{
  cursor: pointer;
  position:fixed;
  border: 0;
  display: block;
   left: 0;
   bottom: 0;
   font-size: 16px;
   letter-spacing: 1.5px;
   width: 100%;
   background-color: rgb(2, 2, 46);
   color: rgb(247, 247, 4);
   text-align: center;
  }

  
